# .git

# exlcude temp folder
temp

# exclude data files
data/ucr/*

# Jupyter
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
.ipynb_checkpoints/
*.tsbuildinfo

# IDE
.vscode
.vscode/*

#Cython
*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/test.py
/test_*.*

/setup.cfg
MANIFEST.in
/docs/site/*
/tests/fixtures/simple_project/setup.py
/tests/fixtures/project_with_extras/setup.py
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*

# Logs
log.txt
logs
/logs/*
