.classContainer {
  margin-bottom: 3rem;
  border: 1px solid #eaecef;
  padding: 16px;
  border-radius: 5px;
}

html[data-theme="dark"] .classContainer {
  border: 1px solid #30363d;
}
.classHeader {
  background-color: #f6f8fa;
  padding: 0.1rem 0.8rem;
  border-radius: 15px;
  /* margin-bottom: 0.5rem; */
}

html[data-theme="dark"] .classHeader {
  background-color: #011c4a;
}

.classInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.className {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 600;
}

.classType {
  font-family: monospace;
  color: #6785dc;
}

.initParams {
  font-family: monospace;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
}

.classDoc,
.methodDoc {
  margin-top: 8px;
  font-size: 16px;
}

.methodContainer {
  margin-top: 24px;
  padding: 16px;
  background-color: #f6f8fa;
  border-radius: 15px;
}

html[data-theme="dark"] .methodContainer {
  background-color: #011c4a;
}

.sourceLink {
  display: block;
  color: #0366d6;
  text-decoration: none;
}

html[data-theme="dark"] .sourceLink {
  color: #8ab4f8;
}

.methodName {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.methodSignature {
  font-family: monospace;
  margin-bottom: 2rem;
}
/* Add additional styles based on the screenshot provided */
