accelerate==0.21.0
bitsandbytes==0.39.0
datasets==2.12.0
evaluate==0.4.0
fastapi==0.104.1
numpy==1.24.3
pydantic==1.10.13
ray==2.8.0
starlette==0.27.0
tokenizers==0.14.1
torch==2.0.1
transformers==4.35.0
triton==2.0.0
tritonclient==2.39.0
typer==0.9.0
typing_extensions==4.8.0
uvicorn==0.23.2
vllm==0.2.1.post1